.contentVideos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 2rem;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1.5rem;
}

.CCvideo {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  display: block;
  background: transparent;
  border: none;
}
