.p3placeholder3, .p3placeholder1{
    width: 1200px;
    height: auto;
}


.Video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-player {
    max-width: 1200px;
    width: 100%;
    height: auto;
}