.projectCont  {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1.5rem;
    text-align: left;
}

.projectButtonOne, .projectButtonTwo,  .projectButtonThree, .projectButtonFour, .projectButtonFive {
    font-size: 5rem;
    font-weight: bolder;
    text-align: right;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: background-image 0.3s ease;
}

.projectButtonOne:hover {
  background-image: url('/Placeholders/project1placeholder.png');
  background-size: cover;
  background-position: center;
  color: white; 
}

.projectButtonTwo:hover {
  background-image: url('/Placeholders/project2placeholder.png');
  background-size: cover;
  background-position: center;
  color: white; 
}
.projectButtonThree:hover {
  background-image: url('/Placeholders/project3placeholder.jpeg');
  background-size: cover;
  background-position: center;
  color: white; 
}

.projectButtonFour:hover {
  background-image: url('/Images/PhotographyHero.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
}

.projectButtonFive:hover {
  background-image: url('/Images/VideographyHero.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
}